<template>
    <div>
        <navbar></navbar>

        <div class="flex flex-col">
            <div class="min-h-screen flex justify-center mt-8">
                <div class="container h-full">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Navbar from '../components/Navbar';

    export default {
        components: {
            Navbar
        }
    }
</script>