<template>
    <div class="nav bg-pattern border-b border-grey-light">
        <nav class="max-w-2xl mx-auto flex items-center justify-between flex-wrap p-6">
            <div class="flex flex-no-shrink mr-6">
                <a href="#" class="no-underline font-mono font-normal text-xl tracking-tight text-brand-darker hover:text-brand-dark">OurBlog</a>
            </div>
            <div class="block flex flex-no-shrink items-center w-auto">
                <div class="text-sm flex-grow">
                    <a href="#" class="no-underline inline-block font-mono font-light text-lg text-brand-darker hover:text-brand-dark mr-4">
                        Posts
                    </a>
                    <a href="#" class="no-underline inline-block font-mono font-light text-lg text-brand-darker hover:text-brand-dark mr-4">
                        About
                    </a>
                </div>
            </div>
        </nav>
    </div>
</template>