<template>
    <div class="bg-white border-b-8 border rounded-lg p-6 container mx-auto">
        <section class="flex justify-between pt-4 pb-8 border-b">
            <h1 class="text-3xl">My posts</h1>
            <a href="#" class="bg-brand hover:bg-brand-dark text-white text-sm py-2 px-4 border border-brand-dark rounded">
                New Post
            </a>
        </section>
        <section class="pt-6">
            <div class="w-full pt-4 pb-6 border-b" v-for="post in posts">
                <a href="#" class="no-underline font-bold text-2xl text-grey-darkest hover:text-black">{{ post.title }}</a>
                <p class="mt-2 mb-2 font-light text-grey-darkest">{{ post.summary }}</p>
                <span class="text-grey-dark text-sm">{{ post.created_at }}</span>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Dashboard",

        data () {
            return {
                posts: [
                    {
                        title: 'Blog post 1',
                        summary: 'Bla bla bla bla bla bla bla bla bla bla.',
                        created_at: 'Ten minutes ago'
                    },
                    {
                        title: 'Blog post 2',
                        summary: 'Bla bla bla bla bla bla bla bla bla bla.',
                        created_at: 'Yesterday'
                    },
                ]
            }
        }
    }
</script>

<style scoped>

</style>