<template>
    <div class="bg-grey-lighter mx-auto h-full font-sans border-t-4 border-brand">
        <nav class="flex flex-wrap justify-center bg-white p-6 border-b border-grey-light">
            <div class="container flex justify-between">
                <router-link :to="{name: 'adm.dashboard'}" class="no-underline text-sm text-grey-darkest">OurBlog - Admin</router-link>
                <div class="block flex flex-no-shrink items-center w-auto">
                    <button @click="logout" class="no-underline inline-block font-light text-sm text-brand-darker hover:text-brand-dark mr-4">Sign out</button>
                </div>
            </div>
        </nav>

        <main class="pt-6 pb-6">
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
    export default {
        name: "Layout",

        methods: {
            logout () {
                window.localStorage.removeItem('token');
                this.$router.replace({ name: 'adm.login' });
            }
        }
    }
</script>

<style scoped>

</style>