<template>
    <div class="bg-grey-lighter mx-auto h-full flex justify-center items-center font-sans">
        <div class="w-1/3">
            <h1 class="font-hairline mb-6 text-center">Login to my Blog</h1>
            <form @submit.prevent="attempt" class="p-8 border-brand border-t-8 bg-white mb-6 rounded-lg shadow-lg">
                <div class="mb-4">
                    <label class="font-bold text-grey-darker block mb-2">Email</label>
                    <input type="email" class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow-inner" placeholder="Your Email" autofocus required v-model="email">
                </div>
                <div class="mb-4">
                    <label class="font-bold text-grey-darker block mb-2">Password</label>
                    <input type="password" class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow-inner" placeholder="Your Password" required v-model="password">
                </div>
                <div class="text-center">
                    <button class="bg-purple-dark hover:bg-purple text-white uppercase font-bold py-3 px-6 rounded">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import api from '../api';

    export default {
        name: "Login",

        data () {
            return {
                email: '',
                password: '',
            }
        },

        methods: {
            async attempt () {
                const { email, password } = this;

                const response = await api.post('auth/login', { email, password });

                // Save the access token to the local storage so
                // we can use it on next requests.
                window.localStorage.setItem('token', response.data.access_token);

                // Check whether there is a query parameter informing
                // the URL we should go back after login.
                const redirect = this.$route.query.redirect || undefined;

                if (redirect) {
                    return this.$router.push(redirect);
                }

                this.$router.push({ name: 'adm.dashboard' });
            }
        }
    }
</script>